.create-contact-heading {
  color: #fcfcfd;
  padding-left: 1rem;
}

.create-contact-bg-color {
  background-color: #0a238b;
  display: flex;
  padding: 13px 20px 13px 0;
}

.create-contact-cancel-btn {
  color: #f07b3a !important;
  background-color: #fcfcfd !important;
  border-color: #fcfcfd !important;
  margin-right: 1rem;
}

.create-contact-save-btn {
  color: #fcfcfd !important;
  background-color: #f07b3a !important;
  border-color: #f07b3a !important;
}

.create-contact-ul {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
