.form-modal-text-color {
  color: #808080;
}

.form-modal-header {
  border: 1px solid #f8f8f8 !important;
}
.form-modal-header,
.form-modal-body,
.formal-modal-message {
  background-color: #f8f8f8;
}

.save-tick {
  vertical-align: text-top;
}
